{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "importOrder": ["^@piiquante/(.*)$", "^[./]"],
  "importOrderSeparation": true
}
