/* reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-size: inherit;
}

/* vars */
:root {
  --color-white: white;
  --color-black: black;
  --color-blue: #0065fc;
  --color-light-blue: #deebff;
  --color-dark-grey: #dadada;
  --color-grey: #f2f2f2;
  --color-error: #a81e1e;
}

/* font */
body {
  font-family: "Raleway", sans-serif;
}

h2,
p {
  margin: 8px 0;
}

h3 {
  text-align: center;
}

a:hover {
  opacity: 0.8;
}

/* form */
form p.form-error {
  color: var(--color-error);
}